Repository hiero-ledger/hiero-block-node, pull requests merged in 2024-09, with the labels that each got.

#164 feat: add additional metrics
  gradle/modules.properties
  server/build.gradle.kts
  server/docker/Dockerfile
  server/docker/logging.properties
  server/docker/metrics/dashboards/block-node-server.json
  server/docker/update-env.sh
  server/src/main/java/com/hedera/block/server/BlockStreamService.java
  server/src/main/java/com/hedera/block/server/Constants.java
  server/src/main/java/com/hedera/block/server/Server.java
  server/src/main/java/com/hedera/block/server/ServiceStatus.java
  server/src/main/java/com/hedera/block/server/ServiceStatusImpl.java
  server/src/main/java/com/hedera/block/server/consumer/ConsumerStreamResponseObserver.java
  server/src/main/java/com/hedera/block/server/mediator/LiveStreamMediatorImpl.java
  server/src/main/java/com/hedera/block/server/metrics/BlockNodeMetricTypes.java
  server/src/main/java/com/hedera/block/server/metrics/MetricsService.java
  server/src/main/java/com/hedera/block/server/metrics/MetricsServiceImpl.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/BlockAsDirWriter.java
  server/src/main/java/com/hedera/block/server/producer/ProducerBlockItemObserver.java
  server/src/main/java/module-info.java
  server/src/test/java/com/hedera/block/server/BlockStreamServiceIntegrationTest.java
  server/src/test/java/com/hedera/block/server/mediator/LiveStreamMediatorImplTest.java
  server/src/test/java/com/hedera/block/server/metrics/MetricsServiceTest.java
  server/src/test/java/com/hedera/block/server/producer/ProducerBlockItemObserverTest.java
  settings.gradle.kts
Labels: Improvement, P2

#162 feat: Simulator Base Project
  buildSrc/src/main/kotlin/com.hedera.block.simulator.gradle.kts
  codecov.yml
  settings.gradle.kts
  simulator/build.gradle.kts
  simulator/src/main/java/com/hedera/block/simulator/BlockStreamSimulator.java
  simulator/src/main/java/com/hedera/block/simulator/BlockStreamSimulatorApp.java
  simulator/src/main/java/com/hedera/block/simulator/BlockStreamSimulatorInjectionComponent.java
  simulator/src/main/java/com/hedera/block/simulator/config/ConfigInjectionModule.java
  simulator/src/main/java/com/hedera/block/simulator/config/SimulatorConfigExtension.java
  simulator/src/main/java/com/hedera/block/simulator/config/data/BlockStreamConfig.java
  simulator/src/main/java/com/hedera/block/simulator/config/data/GrpcConfig.java
  simulator/src/main/java/com/hedera/block/simulator/config/types/GenerationMode.java
  simulator/src/main/java/com/hedera/block/simulator/generator/BlockStreamManager.java
  simulator/src/main/java/com/hedera/block/simulator/generator/GeneratorInjectionModule.java
  simulator/src/main/java/com/hedera/block/simulator/generator/MockBlockStreamManagerImpl.java
  simulator/src/main/java/module-info.java
  simulator/src/main/resources/app.properties
  simulator/src/test/java/com/hedera/block/simulator/BlockStreamSimulatorTest.java
  simulator/src/test/java/com/hedera/block/simulator/config/ConfigInjectionModuleTest.java
  simulator/src/test/java/com/hedera/block/simulator/config/types/GenerationModeTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/BlockStreamManagerTest.java
Labels: New Feature

#177 ci: Updating actions to use full length commit sha.
  .github/workflows/helm-charts.yaml
Labels: github_actions

#82 ci: GitHub Actions `Release automation` WorkFlow
  .github/workflows/release-automation.yaml
  charts/hedera-block-node/Chart.yaml
  docs/release.md
  server/build.gradle.kts
Labels: Release, github_actions
