Repository hiero-ledger/hiero-block-node, pull requests merged in 2024-12, with the labels that each got.

#361 build: update helm publish registry to `ghcr.io`
  .github/workflows/release-push-image.yaml
  charts/hedera-block-node/Chart.yaml
  charts/hedera-block-node/README.md
Labels: Release, Block Node

#373 chore: Updating action to step security maintained version.
  .github/workflows/release-automation.yaml
Labels: github_actions

#378 feat: add logging configurability to the simulator
  simulator/src/main/java/com/hedera/block/simulator/BlockStreamSimulatorApp.java
  simulator/src/main/java/module-info.java
  simulator/src/main/resources/logging.properties
  simulator/src/test/java/com/hedera/block/simulator/BlockStreamSimulatorTest.java
Labels: Simulator

#360 feat: Implement consumer handler in the Simulator
  common/src/main/java/com/hedera/block/common/utils/Preconditions.java
  common/src/test/java/com/hedera/block/common/CommonsTestUtility.java
  common/src/test/java/com/hedera/block/common/utils/PreconditionsTest.java
  simulator/docs/configuration.md
  simulator/src/main/java/com/hedera/block/simulator/BlockStreamSimulatorApp.java
  simulator/src/main/java/com/hedera/block/simulator/generator/BlockAsDirBlockStreamManager.java
  simulator/src/main/java/com/hedera/block/simulator/generator/BlockAsFileBlockStreamManager.java
  simulator/src/main/java/com/hedera/block/simulator/generator/BlockStreamManager.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/ConsumerStreamGrpcClient.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/GrpcInjectionModule.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/PublishStreamGrpcClient.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/impl/ConsumerStreamGrpcClientImpl.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/impl/ConsumerStreamObserver.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/impl/PublishStreamGrpcClientImpl.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/impl/PublishStreamObserver.java
  simulator/src/main/java/com/hedera/block/simulator/metrics/SimulatorMetricTypes.java
  simulator/src/main/java/com/hedera/block/simulator/mode/CombinedModeHandler.java
  simulator/src/main/java/com/hedera/block/simulator/mode/ConsumerModeHandler.java
  simulator/src/main/java/com/hedera/block/simulator/mode/PublisherModeHandler.java
  simulator/src/main/java/com/hedera/block/simulator/mode/SimulatorModeHandler.java
  simulator/src/main/java/module-info.java
  simulator/src/test/java/com/hedera/block/simulator/BlockStreamSimulatorTest.java
  simulator/src/test/java/com/hedera/block/simulator/TestUtils.java
  simulator/src/test/java/com/hedera/block/simulator/generator/BlockAsDirBlockStreamManagerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/BlockAsFileBlockStreamManagerTest.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/PublishStreamGrpcClientImplTest.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/impl/ConsumerStreamGrpcClientImplTest.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/impl/ConsumerStreamObserverTest.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/impl/PublishStreamGrpcClientImplTest.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/impl/PublishStreamObserverTest.java
  simulator/src/test/java/com/hedera/block/simulator/mode/CombinedModeHandlerTest.java
  simulator/src/test/java/com/hedera/block/simulator/mode/ConsumerModeHandlerTest.java
  stream/src/main/java/module-info.java
Labels: Simulator

#401 feat: Add Grafana dashboards for the Simulator
  server/docker/metrics/dashboards/block-stream-simulator-consumer.json
  server/docker/metrics/dashboards/block-stream-simulator-publisher.json
  server/docker/metrics/dashboards/provisioner.yaml
  server/docker/metrics/prometheus.yml
  simulator/docs/quickstart.md
  simulator/src/main/resources/app.properties
  simulator/src/test/java/com/hedera/block/simulator/config/ConfigInjectionModuleTest.java
Labels: Simulator

#402 chore: add maintainers as codeowners to all files
  .github/CODEOWNERS
Labels: Audit

#385 feat: new BlockReader implementation for block-as-file
  server/src/main/java/com/hedera/block/server/persistence/PersistenceInjectionModule.java
  server/src/main/java/com/hedera/block/server/persistence/storage/read/BlockAsLocalFileReader.java
  server/src/test/java/com/hedera/block/server/persistence/PersistenceInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/read/BlockAsLocalFileReaderTest.java
  server/src/test/java/com/hedera/block/server/util/PersistTestUtils.java
Labels: Block Node

#411 feat: configure gradle to build deterministic Block Node jar
  .github/workflows/e2e-tests.yaml
  .github/workflows/pr-checks.yaml
  .github/workflows/release-automation.yaml
  .github/workflows/release-push-image.yaml
  .github/workflows/smoke-test.yaml
  .github/workflows/support/scripts/generate-gradle-artifact-baseline.sh
  .github/workflows/zxc-verify-gradle-build-determinism.yaml
  buildSrc/src/main/kotlin/com.hedera.block.conventions.gradle.kts
Labels: Feature Enhancement, Release, Block Node

#387 feat: add compression mode for BlockAsFileWriter
  common/src/main/java/com/hedera/block/common/utils/FileUtilities.java
  common/src/main/java/com/hedera/block/common/utils/Preconditions.java
  common/src/test/java/com/hedera/block/common/utils/FileUtilitiesTest.java
  common/src/test/java/com/hedera/block/common/utils/PreconditionsTest.java
  gradle/modules.properties
  server/docs/configuration.md
  server/src/main/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializer.java
  server/src/main/java/com/hedera/block/server/persistence/PersistenceInjectionModule.java
  server/src/main/java/com/hedera/block/server/persistence/storage/PersistenceStorageConfig.java
  server/src/main/java/com/hedera/block/server/persistence/storage/compression/Compression.java
  server/src/main/java/com/hedera/block/server/persistence/storage/compression/NoOpCompression.java
  server/src/main/java/com/hedera/block/server/persistence/storage/compression/ZstdCompression.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/BlockPathResolver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/BlockAsLocalFileWriter.java
  server/src/main/java/module-info.java
  server/src/main/resources/app.properties
  server/src/test/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializerTest.java
  server/src/test/java/com/hedera/block/server/persistence/PersistenceInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/PersistenceStorageConfigTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/compression/NoOpCompressionTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/compression/ZstdCompressionTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/read/BlockAsLocalFileReaderTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/write/BlockAsLocalFileWriterTest.java
  server/src/test/java/com/hedera/block/server/util/PersistTestUtils.java
  settings.gradle.kts
Labels: Block Node

#382 docs: add design docs for the block-as-file persistence
  server/docs/design/block-persistence.md
Labels: Design, Block Node, Documentation

#421 test: add automatic unit test detection of missing configuration to environment variable mapping
  server/src/test/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializerTest.java
  simulator/build.gradle.kts
  simulator/src/test/java/com/hedera/block/simulator/config/SimulatorMappedConfigSourceInitializerTest.java
Labels: Improvement, P1, Tests, Phase 2, Block Node

#419 feat: deterministic docker changes part 1
  .github/workflows/release-push-image.yaml
  .github/workflows/support/scripts/generate-docker-artifact-baseline.sh
  .github/workflows/support/scripts/generate-gradle-artifact-baseline.sh
  .github/workflows/zxc-verify-docker-build-determinism.yaml
  .github/workflows/zxc-verify-gradle-build-determinism.yaml
  buildSrc/src/main/kotlin/com.hedera.block.conventions.gradle.kts
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  server/docker/Dockerfile
Labels: Block Node

#426 fix: Restoring javadocs verification
  buildSrc/src/main/kotlin/com.hedera.block.conventions.gradle.kts
Labels: Bug

#406 chore: Fix Simulator unbounded memory growth
  simulator/src/main/java/com/hedera/block/simulator/config/SimulatorMappedConfigSourceInitializer.java
  simulator/src/main/java/com/hedera/block/simulator/config/data/BlockStreamConfig.java
  simulator/src/main/java/com/hedera/block/simulator/config/data/StreamStatus.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/impl/ConsumerStreamGrpcClientImpl.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/impl/ConsumerStreamObserver.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/impl/PublishStreamGrpcClientImpl.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/impl/PublishStreamObserver.java
  simulator/src/test/java/com/hedera/block/simulator/BlockStreamSimulatorTest.java
  simulator/src/test/java/com/hedera/block/simulator/config/SimulatorMappedConfigSourceInitializerTest.java
  simulator/src/test/java/com/hedera/block/simulator/config/data/BlockStreamConfigTest.java
  simulator/src/test/java/com/hedera/block/simulator/config/data/StreamStatusTest.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/impl/ConsumerStreamGrpcClientImplTest.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/impl/ConsumerStreamObserverTest.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/impl/PublishStreamObserverTest.java
  suites/src/main/java/com/hedera/block/suites/grpc/positive/PositiveEndpointBehaviourTests.java
Labels: Simulator

#389 feat: Tool for converting Record Files to Block Stream
  .gitignore
  buildSrc/src/main/kotlin/com.hedera.block.jpms-modules.gradle.kts
  settings.gradle.kts
  stream/build.gradle.kts
  tool.sh
  tools/README.md
  tools/build.gradle.kts
  tools/docs/quickstart.md
  tools/src/main/java/com/hedera/block/tools/BlockStreamTool.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/Record2BlockCommand.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/gcp/AddNewerBlockTimes.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/gcp/MainNetBucket.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/mirrornode/ExtractBlockTimes.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/mirrornode/FetchBlockQuery.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/mirrornode/FetchMirrorNodeRecordsCsv.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/mirrornode/ValidateBlockTimes.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/model/BlockInfo.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/model/BlockTimes.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/model/ChainFile.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/model/ChainFileAndCount.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/model/NumberedSidecarFile.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/model/ParsedSignatureFile.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/model/RecordFileInfo.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/util/BlockWriter.java
  tools/src/main/java/com/hedera/block/tools/commands/record2blocks/util/RecordFileDates.java
  tools/src/main/java/module-info.java
Labels: Block Node Tools

#416 feat: add docker configuration for the simulator
  server/docker/metrics/prometheus.yml
  server/docs/configuration.md
  simulator/build.gradle.kts
  simulator/docker/Dockerfile
  simulator/docker/docker-compose.yml
  simulator/docker/update-env.sh
  simulator/docs/configuration.md
  simulator/docs/quickstart.md
Labels: Simulator
