Repository hiero-ledger/hiero-block-node, pull requests merged in 2024-11, with the labels that each got.

#327 feat: add error handling in publisher
  simulator/src/main/java/com/hedera/block/simulator/grpc/GrpcInjectionModule.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/PublishStreamGrpcClientImpl.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/PublishStreamObserver.java
  simulator/src/main/java/com/hedera/block/simulator/mode/PublisherModeHandler.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/PublishStreamGrpcClientImplTest.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/PublishStreamObserverTest.java
  simulator/src/test/java/com/hedera/block/simulator/mode/PublisherModeHandlerTest.java
Labels: Simulator

#318 refactor: adjust smoke tests to make them more robust in GHA
  .github/workflows/smoke-test.yaml
  server/docker/docker-build.sh
  server/docker/docker-compose.yml
  server/src/test/resources/smoke-test.sh
Labels: Bug

#303 refactor: Update protobuf to "latest" version
  server/src/main/java/com/hedera/block/server/mediator/LiveStreamMediatorImpl.java
  server/src/main/java/com/hedera/block/server/producer/ProducerBlockItemObserver.java
  server/src/test/java/com/hedera/block/server/consumer/ConsumerStreamResponseObserverTest.java
  server/src/test/java/com/hedera/block/server/grpc/BlockStreamServiceIntegrationTest.java
  server/src/test/java/com/hedera/block/server/mediator/LiveStreamMediatorImplTest.java
  server/src/test/java/com/hedera/block/server/persistence/StreamPersistenceHandlerImplTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/PersistenceStorageConfigTest.java
  server/src/test/java/com/hedera/block/server/producer/ProducerBlockItemObserverTest.java
  settings.gradle.kts
  simulator/src/main/java/com/hedera/block/simulator/grpc/PublishStreamGrpcClientImpl.java
  stream/build.gradle.kts
Labels: Improvement, P1, Simulator, Phase 1, Block Node

#323 feat: Improve README.md structure
  README.md
  docs/Protocol/README.md
  docs/Protocol/publishBlockStream.md
  docs/overview.md
  docs/release.md
  server/README.md
  server/docs/configuration.md
  server/docs/design/bidi-producer-consumers-streaming.md
  server/docs/design/block-persistence.md
  server/docs/metrics.md
  server/docs/quickstart.md
  simulator/README.md
  simulator/docs/configuration.md
  simulator/docs/quickstart.md
  tools/README.md
  tools/docs/quickstart.md
Labels: Documentation

#333 chore(release): Bump versions for v0.3.0-SNAPSHOT
  charts/hedera-block-node/Chart.yaml
  gradle.properties
Labels: Release

#336 refactor: implement agreed upon changes based on discussion (#266)
  common/src/main/java/com/hedera/block/common/utils/FileUtilities.java
  common/src/main/java/com/hedera/block/common/utils/MathUtilities.java
  common/src/main/java/com/hedera/block/common/utils/Preconditions.java
  common/src/main/java/com/hedera/block/common/utils/StringUtilities.java
  common/src/test/java/com/hedera/block/common/CommonsTestUtility.java
  common/src/test/java/com/hedera/block/common/utils/MathUtilitiesTest.java
  common/src/test/java/com/hedera/block/common/utils/PreconditionsTest.java
  common/src/test/java/com/hedera/block/common/utils/StringUtilitiesTest.java
  server/src/main/java/com/hedera/block/server/mediator/MediatorConfig.java
  server/src/main/java/com/hedera/block/server/notifier/NotifierConfig.java
  server/src/test/java/com/hedera/block/server/mediator/MediatorConfigTest.java
  server/src/test/java/com/hedera/block/server/notifier/NotifierConfigTest.java
Labels: Improvement

#347 ci: Update release-notes-generator-action to a step-security maintain…
  .github/workflows/release-automation.yaml
Labels: github_actions

#330 test: Add E2E test and enhance simulator flexibility
  .gitignore
  common/src/main/java/com/hedera/block/common/utils/Preconditions.java
  common/src/test/java/com/hedera/block/common/CommonsTestUtility.java
  common/src/test/java/com/hedera/block/common/utils/PreconditionsTest.java
  simulator/src/main/java/com/hedera/block/simulator/BlockStreamSimulatorApp.java
  simulator/src/main/java/com/hedera/block/simulator/config/data/StreamStatus.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/PublishStreamGrpcClient.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/PublishStreamGrpcClientImpl.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/PublishStreamObserver.java
  simulator/src/main/java/com/hedera/block/simulator/metrics/SimulatorMetricTypes.java
  simulator/src/main/java/com/hedera/block/simulator/mode/CombinedModeHandler.java
  simulator/src/main/java/com/hedera/block/simulator/mode/ConsumerModeHandler.java
  simulator/src/main/java/com/hedera/block/simulator/mode/PublisherModeHandler.java
  simulator/src/main/java/com/hedera/block/simulator/mode/SimulatorModeHandler.java
  simulator/src/test/java/com/hedera/block/simulator/BlockStreamSimulatorTest.java
  simulator/src/test/java/com/hedera/block/simulator/config/data/StreamStatusTest.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/PublishStreamGrpcClientImplTest.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/PublishStreamObserverTest.java
  simulator/src/test/java/com/hedera/block/simulator/metrics/MetricsServiceTest.java
  simulator/src/test/java/com/hedera/block/simulator/mode/PublisherModeHandlerTest.java
  suites/src/main/java/com/hedera/block/suites/BaseSuite.java
  suites/src/main/java/com/hedera/block/suites/ErrorLoggingExecutor.java
  suites/src/main/java/com/hedera/block/suites/grpc/GrpcTestSuites.java
  suites/src/main/java/com/hedera/block/suites/grpc/positive/PositiveEndpointBehaviourTests.java
  suites/src/main/java/com/hedera/block/suites/grpc/positive/PositiveServerAvailabilityTests.java
  suites/src/main/java/com/hedera/block/suites/persistence/positive/PositiveDataPersistenceTests.java
Labels: Tests, Simulator

#337 fix: gradle tasks from different subproject are not isolated
  .github/workflows/e2e-tests.yaml
  .github/workflows/smoke-test.yaml
  .gitignore
  server/build.gradle.kts
  server/docker/docker-build.sh
  server/docker/docker-compose.yml
  server/docker/update-env.sh
  suites/build.gradle.kts
  suites/src/main/java/com/hedera/block/suites/BaseSuite.java
Labels: Bug, Block Node

#358 feat: optimize blockstream processing
  server/docker/docker-compose.yml
  server/docker/logging.properties
  server/docker/update-env.sh
  server/src/main/java/com/hedera/block/server/consumer/ConsumerStreamResponseObserver.java
  server/src/main/java/com/hedera/block/server/mediator/LiveStreamMediator.java
  server/src/main/java/com/hedera/block/server/mediator/LiveStreamMediatorBuilder.java
  server/src/main/java/com/hedera/block/server/mediator/LiveStreamMediatorImpl.java
  server/src/main/java/com/hedera/block/server/mediator/MediatorInjectionModule.java
  server/src/main/java/com/hedera/block/server/mediator/NoOpLiveStreamMediator.java
  server/src/main/java/com/hedera/block/server/mediator/SubscriptionHandlerBase.java
  server/src/main/java/com/hedera/block/server/notifier/Notifier.java
  server/src/main/java/com/hedera/block/server/notifier/NotifierImpl.java
  server/src/main/java/com/hedera/block/server/pbj/PbjBlockAccessServiceProxy.java
  server/src/main/java/com/hedera/block/server/pbj/PbjBlockStreamServiceProxy.java
  server/src/main/java/com/hedera/block/server/persistence/PersistenceInjectionModule.java
  server/src/main/java/com/hedera/block/server/persistence/StreamPersistenceHandlerImpl.java
  server/src/main/java/com/hedera/block/server/persistence/storage/read/BlockAsDirReader.java
  server/src/main/java/com/hedera/block/server/persistence/storage/read/BlockAsDirReaderBuilder.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/BlockAsDirWriter.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/BlockAsDirWriterBuilder.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/BlockWriter.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/NoOpBlockWriter.java
  server/src/main/java/com/hedera/block/server/producer/NoOpProducerObserver.java
  server/src/main/java/com/hedera/block/server/producer/ProducerBlockItemObserver.java
  server/src/main/java/com/hedera/block/server/producer/Util.java
  server/src/test/java/com/hedera/block/server/BlockNodeAppTest.java
  server/src/test/java/com/hedera/block/server/consumer/ConsumerStreamResponseObserverTest.java
  server/src/test/java/com/hedera/block/server/grpc/BlockAccessServiceTest.java
  server/src/test/java/com/hedera/block/server/grpc/BlockStreamServiceTest.java
  server/src/test/java/com/hedera/block/server/mediator/LiveStreamMediatorImplTest.java
  server/src/test/java/com/hedera/block/server/mediator/MediatorInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/notifier/NotifierImplTest.java
  server/src/test/java/com/hedera/block/server/pbj/PbjBlockAccessServiceProxyTest.java
  server/src/test/java/com/hedera/block/server/pbj/PbjBlockStreamServiceIntegrationTest.java
  server/src/test/java/com/hedera/block/server/persistence/PersistenceInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/persistence/StreamPersistenceHandlerImplTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/read/BlockAsDirReaderTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/remove/BlockAsDirRemoverTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/write/BlockAsDirWriterTest.java
  server/src/test/java/com/hedera/block/server/producer/ProducerBlockItemObserverTest.java
  server/src/test/java/com/hedera/block/server/util/PbjProtoTestUtils.java
  server/src/test/java/com/hedera/block/server/util/PersistTestUtils.java
  settings.gradle.kts
  stream/src/main/proto/com/hedera/hapi/block/unparsed.proto
Labels: Improvement, Block Node

#362 fix: integrated PBJ error propagation
  server/src/main/java/com/hedera/block/server/consumer/ConsumerStreamResponseObserver.java
  server/src/main/java/com/hedera/block/server/pbj/PbjBlockAccessServiceProxy.java
  server/src/main/java/com/hedera/block/server/pbj/PbjBlockStreamServiceProxy.java
  server/src/main/java/com/hedera/block/server/producer/NoOpProducerObserver.java
  server/src/main/java/com/hedera/block/server/producer/ProducerBlockItemObserver.java
  server/src/test/java/com/hedera/block/server/consumer/ConsumerStreamResponseObserverTest.java
  server/src/test/java/com/hedera/block/server/grpc/BlockAccessServiceTest.java
  server/src/test/java/com/hedera/block/server/pbj/PbjBlockAccessServiceProxyTest.java
  settings.gradle.kts
Labels: Bug

#365 feat: server properties configurable
  server/docs/configuration.md
  server/src/main/java/com/hedera/block/server/BlockNodeApp.java
  server/src/main/java/com/hedera/block/server/ServerConfig.java
  server/src/main/java/com/hedera/block/server/config/BlockNodeConfigExtension.java
  server/src/main/java/com/hedera/block/server/config/ConfigInjectionModule.java
  server/src/main/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializer.java
  server/src/test/java/com/hedera/block/server/BlockNodeAppTest.java
  server/src/test/java/com/hedera/block/server/ServerConfigTest.java
  server/src/test/java/com/hedera/block/server/config/ConfigInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializerTest.java
Labels: Improvement, Block Node

#364 feat: allow block-node operators to easily set resource allocations to block-node deployment on k8 using helm chart
  charts/hedera-block-node/templates/deployment.yaml
  charts/hedera-block-node/values.yaml
Labels: Improvement, Release, Block Node
