Repository hiero-ledger/hiero-block-node, pull requests merged in 2024-10, with the labels that each got.

#236 ci: Update release-automation.yaml to enable completion
  .github/workflows/release-automation.yaml
Labels: github_actions

#242 feat: Add simulator as dependency in Suites
  buildSrc/src/main/kotlin/com.hedera.block.jpms-modules.gradle.kts
  simulator/src/main/java/com/hedera/block/simulator/BlockStreamSimulator.java
  simulator/src/main/java/com/hedera/block/simulator/BlockStreamSimulatorApp.java
  simulator/src/main/java/com/hedera/block/simulator/exception/BlockSimulatorParsingException.java
  simulator/src/main/java/com/hedera/block/simulator/generator/BlockAsFileLargeDataSets.java
  simulator/src/main/java/com/hedera/block/simulator/generator/BlockStreamManager.java
  simulator/src/main/java/module-info.java
  simulator/src/test/java/com/hedera/block/simulator/BlockStreamSimulatorTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/BlockAsDirBlockStreamManagerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/BlockAsFileBlockStreamManagerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/BlockAsFileLargeDataSetsTest.java
  suites/build.gradle.kts
  suites/src/main/java/com/hedera/block/suites/BaseSuite.java
  suites/src/main/java/com/hedera/block/suites/persistence/DataPersistenceTestSuites.java
  suites/src/main/java/com/hedera/block/suites/persistence/positive/PositiveDataPersistenceTests.java
  suites/src/main/java/module-info.java
  suites/src/main/resources/block-0.0.3/000000000000000000000000000000000001.blk.gz
  suites/src/main/resources/block-0.0.3/000000000000000000000000000000000002.blk.gz
  suites/src/main/resources/block-0.0.3/000000000000000000000000000000000003.blk.gz
  suites/src/main/resources/block-0.0.3/000000000000000000000000000000000004.blk.gz
  suites/src/main/resources/block-0.0.3/000000000000000000000000000000000005.blk.gz
Labels: Tests, Simulator

#246 chore(release): Bump versions for v0.2.0-SNAPSHOT
  charts/hedera-block-node/Chart.yaml
  gradle.properties
Labels: Release

#258 feat: cAdvisor Docker System Metrics and Dashboard for Dev Docker Stack
  server/docker/docker-compose.yml
  server/docker/metrics/dashboards/cAdvisor.json
  server/docker/metrics/prometheus.yml
Labels: Improvement, P2

#251 refactor: introduce commons module
  buildSrc/src/main/kotlin/com.hedera.block.common.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.spotless-java-conventions.gradle.kts
  common/build.gradle.kts
  common/src/main/java/com/hedera/block/common/constants/StringsConstants.java
  common/src/main/java/com/hedera/block/common/utils/FileUtilities.java
  common/src/main/java/com/hedera/block/common/utils/StringUtilities.java
  common/src/main/java/module-info.java
  settings.gradle.kts
Labels: Improvement

#232 refactor: adjust configuration management and smoke test setup to support production config by default
  .github/workflows/smoke-test.yaml
  README.md
  server/build.gradle.kts
  server/docker/update-env.sh
  server/src/main/java/com/hedera/block/server/Server.java
  server/src/main/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializer.java
  server/src/main/java/com/hedera/block/server/mediator/MediatorConfig.java
  server/src/main/java/com/hedera/block/server/notifier/NotifierConfig.java
  server/src/main/resources/app.properties
  server/src/test/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializerTest.java
  suites/build.gradle.kts
Labels: Improvement

#267 docs: Add a protocol document for `publishBlockStream`
  docs/Protocol/README.md
  docs/Protocol/publishBlockStream.md
Labels: Block Node, Documentation

#274 test: introduce tests in common module
  common/build.gradle.kts
  common/src/test/java/com/hedera/block/common/utils/FileUtilitiesTest.java
  common/src/test/java/com/hedera/block/common/utils/StringUtilitiesTest.java
  common/src/test/resources/invalid1.gz
  common/src/test/resources/valid1.blk
  common/src/test/resources/valid1.txt.gz
  common/src/test/resources/valid2.blk
  common/src/test/resources/valid2.txt.gz
Labels: Tests, Common

#289 feat: Improvements ChunkUtils
  common/src/main/java/com/hedera/block/common/utils/ChunkUtils.java
  server/src/main/java/com/hedera/block/server/consumer/ConsumerStreamResponseObserver.java
Labels: Improvement, P1, Simulator, Phase 1, Block Node

#304 ci: Updating workflow actions to step-security maintained version.
  .github/workflows/release-automation.yaml
Labels: github_actions

#312 chore: change spotless base format to Palantir plugin
  buildSrc/src/main/kotlin/com.hedera.block.spotless-java-conventions.gradle.kts
Labels: Block Node

#300 feat: 231 add block stream tools
  buildSrc/src/main/kotlin/com.hedera.block.tools.gradle.kts
  settings.gradle.kts
  stream/src/main/java/module-info.java
  tools/README.md
  tools/build.gradle.kts
  tools/src/main/java/com/hedera/block/tools/BlockStreamTool.java
  tools/src/main/java/com/hedera/block/tools/commands/BlockInfo.java
  tools/src/main/java/com/hedera/block/tools/commands/ConvertToJson.java
  tools/src/main/java/module-info.java
Labels: Simulator

#272 refactor: use commons module in server
  common/src/main/java/com/hedera/block/common/utils/FileUtilities.java
  common/src/test/java/com/hedera/block/common/utils/FileUtilitiesTest.java
  common/src/test/java/com/hedera/block/common/utils/StringUtilitiesTest.java
  server/src/main/java/com/hedera/block/server/Constants.java
  server/src/main/java/com/hedera/block/server/Server.java
  server/src/main/java/com/hedera/block/server/persistence/storage/FileUtils.java
  server/src/main/java/com/hedera/block/server/persistence/storage/PersistenceStorageConfig.java
  server/src/main/java/com/hedera/block/server/persistence/storage/read/BlockAsDirReader.java
  server/src/main/java/com/hedera/block/server/persistence/storage/read/BlockAsDirReaderBuilder.java
  server/src/main/java/com/hedera/block/server/persistence/storage/remove/BlockAsDirRemover.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/BlockAsDirWriter.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/BlockAsDirWriterBuilder.java
  server/src/main/java/module-info.java
  server/src/test/java/com/hedera/block/server/persistence/PersistenceInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/read/BlockAsDirReaderTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/remove/BlockAsDirRemoverTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/write/BlockAsDirWriterTest.java
  server/src/test/java/com/hedera/block/server/util/TestConfigUtil.java
  simulator/src/main/java/com/hedera/block/simulator/exception/BlockSimulatorParsingException.java
  simulator/src/main/java/com/hedera/block/simulator/generator/BlockAsFileLargeDataSets.java
Labels: Improvement, Common

#316 feat: setup metrics in the simulator to report block items sent
  server/docker/docker-compose.yml
  simulator/build.gradle.kts
  simulator/src/main/java/com/hedera/block/simulator/BlockStreamSimulatorApp.java
  simulator/src/main/java/com/hedera/block/simulator/BlockStreamSimulatorInjectionComponent.java
  simulator/src/main/java/com/hedera/block/simulator/config/ConfigInjectionModule.java
  simulator/src/main/java/com/hedera/block/simulator/config/SimulatorConfigExtension.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/PublishStreamGrpcClientImpl.java
  simulator/src/main/java/com/hedera/block/simulator/metrics/MetricsInjectionModule.java
  simulator/src/main/java/com/hedera/block/simulator/metrics/MetricsService.java
  simulator/src/main/java/com/hedera/block/simulator/metrics/MetricsServiceImpl.java
  simulator/src/main/java/com/hedera/block/simulator/metrics/SimulatorMetricTypes.java
  simulator/src/main/java/module-info.java
  simulator/src/main/resources/app.properties
  simulator/src/test/java/com/hedera/block/simulator/BlockStreamSimulatorTest.java
  simulator/src/test/java/com/hedera/block/simulator/TestUtils.java
  simulator/src/test/java/com/hedera/block/simulator/config/ConfigInjectionModuleTest.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/PublishStreamGrpcClientImplTest.java
  simulator/src/test/java/com/hedera/block/simulator/metrics/MetricsInjectionModuleTest.java
  simulator/src/test/java/com/hedera/block/simulator/metrics/MetricsServiceTest.java
Labels: Simulator
