Repository hiero-ledger/hiero-block-node, pull requests merged in 2025-10, with the labels that each got.

#1704 chore(config): Improve configs defaults and chart overrides regarding queueSize and backfillBatchSize
  block-node/backfill/src/main/java/org/hiero/block/node/backfill/BackfillConfiguration.java
  block-node/messaging/src/main/java/org/hiero/block/node/messaging/MessagingConfig.java
  charts/block-node-server/values-overrides/backfill.yaml
  charts/block-node-server/values-overrides/mid-size.yaml
  charts/block-node-server/values-overrides/mini.yaml
  charts/block-node-server/values-overrides/nano.yaml
Labels: Improvement, Block Node

#1692 refactor: Deadlock on the notification queue
  block-node/app/src/testFixtures/java/org/hiero/block/node/app/fixtures/async/BlockingExecutor.java
  block-node/messaging/build.gradle.kts
  block-node/messaging/src/main/java/org/hiero/block/node/messaging/BlockMessagingFacilityImpl.java
  block-node/messaging/src/test/java/org/hiero/block/server/messaging/BlockNotificationTest.java
  block-node/messaging/src/test/java/org/hiero/block/server/messaging/FacilityExceptionTest.java
  block-node/messaging/src/test/java/org/hiero/block/server/messaging/TestConfig.java
Labels: Improvement

#1671 feat(verification): Adding a BlockVerificationSession Factory that chooses a VerificationSession Impl based on blockHeader HAPI version
  block-node/app/src/testFixtures/java/org/hiero/block/node/app/fixtures/blocks/BlockUtils.java
  block-node/app/src/testFixtures/resources/test-blocks/HAPI-0-64-0/000000000000000000000000000000000014.blk.gz
  block-node/app/src/testFixtures/resources/test-blocks/HAPI-0-66-0/000000000000000000000000000000000010.blk.gz
  block-node/verification/build.gradle.kts
  block-node/verification/src/main/java/module-info.java
  block-node/verification/src/main/java/org/hiero/block/node/verification/VerificationServicePlugin.java
  block-node/verification/src/main/java/org/hiero/block/node/verification/session/BlockVerificationSession.java
  block-node/verification/src/main/java/org/hiero/block/node/verification/session/BlockVerificationSessionFactory.java
  block-node/verification/src/main/java/org/hiero/block/node/verification/session/impl/ExtendedMerkleTreeVerificationSessionV0680.java
  block-node/verification/src/main/java/org/hiero/block/node/verification/session/impl/PreviewSimpleVerificationSessionV0640.java
  block-node/verification/src/test/java/org/hiero/block/node/verification/VerificationServicePluginTest.java
  block-node/verification/src/test/java/org/hiero/block/node/verification/session/BlockVerificationSessionFactoryTest.java
  block-node/verification/src/test/java/org/hiero/block/node/verification/session/TestVerificationHapiVersions.java
  block-node/verification/src/test/java/org/hiero/block/node/verification/session/impl/PreviewSimpleVerificationSessionV0640Test.java
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/generator/itemhandler/AbstractBlockItemHandler.java
  tools-and-tests/simulator/src/test/java/org/hiero/block/simulator/generator/itemhandler/AbstractBlockItemHandlerTest.java
  tools-and-tests/simulator/src/test/java/org/hiero/block/simulator/generator/itemhandler/BlockHeaderHandlerTest.java
Labels: Feature Enhancement

#1674 test(config): Improving Combined Backfill by Config
  tools-and-tests/suites/src/main/java/org/hiero/block/suites/publisher/positive/PositiveMultiplePublishersTests.java
Labels: Tests

#1705 chore(release): Bump versions for v0.21.0-SNAPSHOT
  charts/block-node-server/Chart.yaml
  charts/block-node-server/README.md
  charts/blockstream-simulator/Chart.yaml
  charts/blockstream-simulator/README.md
  version.txt
Labels: Release

#1714 fix(log): Chart default log level to show Trace as intended.
  charts/block-node-server/values.yaml
Labels: Improvement, Helm - Deploy

#1678 test: Stream Subscriber E2E Test Plan
  docs/test-plan/stream-publisher/stream-publisher-e2e-test-plan.md
  docs/test-plan/stream-subscriber/stream-subscriber-e2e-test-plan.md
Labels: pull request

#1732 chore: Cherry pick 1731
  block-node/verification/src/main/java/org/hiero/block/node/verification/session/impl/ExtendedMerkleTreeVerificationSessionV0680.java
  block-node/verification/src/test/java/org/hiero/block/node/verification/session/impl/ExtendedMerkleTreeVerificationSessionV0680Test.java
Labels: Improvement, Block Node

#1722 feat: Multi-Publisher Plugin Support for EndOfStream.Code.PERSISTENCE_FAILED
  block-node/stream-publisher/src/main/java/org/hiero/block/node/stream/publisher/LiveStreamPublisherManager.java
  block-node/stream-publisher/src/main/java/org/hiero/block/node/stream/publisher/PublisherHandler.java
  block-node/stream-publisher/src/test/java/org/hiero/block/node/stream/publisher/LiveStreamPublisherManagerTest.java
Labels: New Feature, Publisher Plugin

#1738 chore(release): Several Release Improvements and Fixes incluing auto-upload of proto artifact
  .github/workflows/helm-charts.yaml
  .github/workflows/release-automation.yaml
  .github/workflows/release-push-image.yaml
  charts/block-node-server/values-overrides/enable-observability.yaml
Labels: Improvement, Release
