Repository hiero-ledger/hiero-block-node, pull requests merged in 2025-02, with the labels that each got.

#555 feat: added async handling for live consumers
  charts/hedera-block-node/dashboards/block-node-server.json
  server/docker/metrics/dashboards/block-node-server.json
  server/src/main/java/com/hedera/block/server/BlockNodeApp.java
  server/src/main/java/com/hedera/block/server/ServerConfig.java
  server/src/main/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializer.java
  server/src/main/java/com/hedera/block/server/consumer/AsyncConsumerStreamResponseObserver.java
  server/src/main/java/com/hedera/block/server/consumer/ConsumerStreamResponseObserver.java
  server/src/main/java/com/hedera/block/server/consumer/Functions.java
  server/src/main/java/com/hedera/block/server/consumer/LiveStreamEventHandlerBuilder.java
  server/src/main/java/com/hedera/block/server/events/BlockNodeEventHandler.java
  server/src/main/java/com/hedera/block/server/mediator/MediatorConfig.java
  server/src/main/java/com/hedera/block/server/metrics/BlockNodeMetricTypes.java
  server/src/main/java/com/hedera/block/server/notifier/NotifierConfig.java
  server/src/main/java/com/hedera/block/server/pbj/PbjBlockStreamServiceProxy.java
  server/src/main/java/com/hedera/block/server/persistence/StreamPersistenceHandlerImpl.java
  server/src/main/java/com/hedera/block/server/producer/ProducerBlockItemObserver.java
  server/src/main/java/com/hedera/block/server/verification/StreamVerificationHandlerImpl.java
  server/src/main/java/com/hedera/block/server/verification/service/NoOpBlockVerificationService.java
  server/src/test/java/com/hedera/block/server/BlockNodeAppTest.java
  server/src/test/java/com/hedera/block/server/ServerConfigTest.java
  server/src/test/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializerTest.java
  server/src/test/java/com/hedera/block/server/config/logging/ConfigurationLoggingImplTest.java
  server/src/test/java/com/hedera/block/server/consumer/ConsumerStreamResponseObserverTest.java
  server/src/test/java/com/hedera/block/server/mediator/LiveStreamMediatorImplTest.java
  server/src/test/java/com/hedera/block/server/verification/service/NoOpBlockVerificationServiceTest.java
Labels: Feature Enhancement, Block Node

#568 refactor: Move Hasher to `common` sub-project
  common/src/main/java/com/hedera/block/common/hasher/ConcurrentStreamingTreeHasher.java
  common/src/main/java/com/hedera/block/common/hasher/Hashes.java
  common/src/main/java/com/hedera/block/common/hasher/HashingUtilities.java
  common/src/main/java/com/hedera/block/common/hasher/NaiveStreamingTreeHasher.java
  common/src/main/java/com/hedera/block/common/hasher/StreamingTreeHasher.java
  common/src/main/java/module-info.java
  common/src/test/java/com/hedera/block/common/hasher/ConcurrentStreamingTreeHasherTest.java
  server/src/main/java/com/hedera/block/server/verification/session/BlockVerificationSessionAsync.java
  server/src/main/java/com/hedera/block/server/verification/session/BlockVerificationSessionBase.java
  server/src/main/java/com/hedera/block/server/verification/session/BlockVerificationSessionSync.java
  server/src/main/java/com/hedera/block/server/verification/signature/SignatureVerifierDummy.java
  server/src/main/java/module-info.java
  server/src/test/java/com/hedera/block/server/verification/signature/SignatureVerifierDummyTest.java
Labels: Improvement, Common

#574 fix: issue with handling of `duplicate` and `future` blocks
  server/src/main/java/com/hedera/block/server/producer/ProducerBlockItemObserver.java
  server/src/test/java/com/hedera/block/server/pbj/PbjBlockStreamServiceIntegrationTest.java
  server/src/test/java/com/hedera/block/server/producer/ProducerBlockItemObserverTest.java
Labels: Bug, Block Node

#548 feat: add support for `PublishBlockStream` to simulator
  simulator/build.gradle.kts
  simulator/src/main/java/com/hedera/block/simulator/BlockStreamSimulatorApp.java
  simulator/src/main/java/com/hedera/block/simulator/BlockStreamSimulatorInjectionComponent.java
  simulator/src/main/java/com/hedera/block/simulator/config/data/BlockStreamConfig.java
  simulator/src/main/java/com/hedera/block/simulator/config/data/StreamStatus.java
  simulator/src/main/java/com/hedera/block/simulator/config/types/SimulatorMode.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/GrpcInjectionModule.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/PublishStreamGrpcServer.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/impl/PublishStreamGrpcServerImpl.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/impl/PublishStreamObserver.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/impl/PublishStreamServerObserver.java
  simulator/src/main/java/com/hedera/block/simulator/metrics/SimulatorMetricTypes.java
  simulator/src/main/java/com/hedera/block/simulator/mode/CombinedModeHandler.java
  simulator/src/main/java/com/hedera/block/simulator/mode/SimulatorModeHandler.java
  simulator/src/main/java/com/hedera/block/simulator/mode/SimulatorModeInjectionModule.java
  simulator/src/main/java/com/hedera/block/simulator/mode/impl/ConsumerModeHandler.java
  simulator/src/main/java/com/hedera/block/simulator/mode/impl/PublisherClientModeHandler.java
  simulator/src/main/java/com/hedera/block/simulator/mode/impl/PublisherServerModeHandler.java
  simulator/src/main/java/module-info.java
  simulator/src/main/resources/app.properties
  simulator/src/test/java/com/hedera/block/simulator/BlockStreamSimulatorTest.java
  simulator/src/test/java/com/hedera/block/simulator/config/data/BlockStreamConfigTest.java
  simulator/src/test/java/com/hedera/block/simulator/config/data/StreamStatusTest.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/impl/PublishStreamGrpcServerImplTest.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/impl/PublishStreamServerObserverTest.java
  simulator/src/test/java/com/hedera/block/simulator/mode/CombinedModeHandlerTest.java
  simulator/src/test/java/com/hedera/block/simulator/mode/ConsumerModeHandlerTest.java
  simulator/src/test/java/com/hedera/block/simulator/mode/PublisherClientModeHandlerTest.java
  simulator/src/test/java/com/hedera/block/simulator/mode/PublisherServerModeHandlerTest.java
  suites/src/main/java/com/hedera/block/suites/grpc/positive/PositiveEndpointBehaviourTests.java
Labels: Simulator

#585 fix: removed UTC timezone flags. we can rely on the linux default
  charts/hedera-block-node/values.yaml
  server/docker/update-env.sh
Labels: Alpha-0

#597 feat: Add Log Dashboard
  server/docker/metrics/dashboards/block-node-server-logs.json
Labels: Improvement, Block Node

#577 feat: closed-range streaming historic blocks design doc
  server/README.md
  server/docs/design/design-doc-template.md
  server/docs/design/historic-streaming/closed-range-historic-streaming.md
  server/docs/design/live-streaming/assets/00036-consumer-registration.png
  server/docs/design/live-streaming/assets/00036-demo-disruptor-class-diagram.png
  server/docs/design/live-streaming/assets/00036-producer-registration.png
  server/docs/design/live-streaming/assets/00036-refactor-demo-disruptor.png
  server/docs/design/live-streaming/bidi-producer-consumers-streaming.md
Labels: Block Node

#608 chore: 275 add local issue templates for epic and task/feature
  .github/ISSUE_TEMPLATE/01-Story-Template.yml
  .github/ISSUE_TEMPLATE/02-Epic-Template.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/pull_request_template.md
Labels: pull request

#623 fix: Adjusted issue forms to not double up headings
  .github/ISSUE_TEMPLATE/01-Story-Template.yml
  .github/ISSUE_TEMPLATE/02-Epic-Template.yml
  .github/pull_request_template.md
Labels: pull request

#621 feat: add Ack metrics
  charts/hedera-block-node/dashboards/block-node-server.json
  server/docker/metrics/dashboards/block-node-server.json
  server/src/main/java/com/hedera/block/server/ack/AckHandlerImpl.java
  server/src/main/java/com/hedera/block/server/ack/AckHandlerInjectionModule.java
  server/src/main/java/com/hedera/block/server/metrics/BlockNodeMetricTypes.java
  server/src/test/java/com/hedera/block/server/consumer/ConsumerStreamResponseObserverTest.java
  server/src/test/java/com/hedera/block/server/manager/AckHandlerImplTest.java
  server/src/test/java/com/hedera/block/server/manager/AckHandlerInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/pbj/PbjBlockStreamServiceIntegrationTest.java
Labels: Feature Enhancement, Block Node

#640 chore(release): Bump versions for v0.5.0-SNAPSHOT
  charts/blockstream-simulator/Chart.yaml
  charts/hedera-block-node/Chart.yaml
  version.txt
Labels: Release

#644 fix: Fixing Hashing Algorithm to match services
  common/src/main/java/com/hedera/block/common/hasher/HashingUtilities.java
  server/src/main/java/com/hedera/block/server/verification/session/BlockVerificationSessionSync.java
  server/src/test/java/com/hedera/block/server/verification/session/BlockVerificationSessionBaseTest.java
Labels: Bug, Block Node

#636 build: update hiero-gradle-conventions to 0.3.4
  server/build.gradle.kts
  settings.gradle.kts
  simulator/build.gradle.kts
  tools/build.gradle.kts
Labels: P3

#647 chore: Upgrade PBJ to `0.9.17`
  hiero-dependency-versions/build.gradle.kts
  stream/build.gradle.kts
Labels: dependencies

#633 feat: closed range streaming
  server/docker/logging.properties
  server/docker/metrics/dashboards/block-node-server.json
  server/docs/configuration.md
  server/src/main/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializer.java
  server/src/main/java/com/hedera/block/server/consumer/ClosedRangeHistoricStreamEventHandlerBuilder.java
  server/src/main/java/com/hedera/block/server/consumer/ConsumerConfig.java
  server/src/main/java/com/hedera/block/server/consumer/ConsumerStreamResponseObserver.java
  server/src/main/java/com/hedera/block/server/consumer/HistoricBlockStreamSupplier.java
  server/src/main/java/com/hedera/block/server/consumer/LiveStreamEventHandlerBuilder.java
  server/src/main/java/com/hedera/block/server/metrics/BlockNodeMetricTypes.java
  server/src/main/java/com/hedera/block/server/pbj/PbjBlockStreamServiceProxy.java
  server/src/test/java/com/hedera/block/server/BlockNodeAppTest.java
  server/src/test/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializerTest.java
  server/src/test/java/com/hedera/block/server/config/logging/ConfigurationLoggingImplTest.java
  server/src/test/java/com/hedera/block/server/config/logging/TestConfigSource.java
  server/src/test/java/com/hedera/block/server/consumer/ConsumerConfigTest.java
  server/src/test/java/com/hedera/block/server/consumer/ConsumerStreamResponseObserverTest.java
  server/src/test/java/com/hedera/block/server/consumer/HistoricBlockStreamSupplierTest.java
  server/src/test/java/com/hedera/block/server/mediator/LiveStreamMediatorImplTest.java
  server/src/test/java/com/hedera/block/server/notifier/NotifierImplTest.java
  server/src/test/java/com/hedera/block/server/pbj/CurrentBlockNumberRangeTest.java
  server/src/test/java/com/hedera/block/server/pbj/PbjBlockStreamServiceIntegrationTest.java
  server/src/test/java/com/hedera/block/server/pbj/PbjBlockStreamServiceProxyTest.java
  server/src/test/java/com/hedera/block/server/pbj/TestUtils.java
  server/src/test/java/com/hedera/block/server/util/PersistTestUtils.java
  server/src/test/resources/consumer.sh
  server/src/test/resources/smoke-test.sh
  simulator/src/main/java/com/hedera/block/simulator/config/ConfigInjectionModule.java
  simulator/src/main/java/com/hedera/block/simulator/config/SimulatorConfigExtension.java
  simulator/src/main/java/com/hedera/block/simulator/config/SimulatorMappedConfigSourceInitializer.java
  simulator/src/main/java/com/hedera/block/simulator/config/data/ConsumerConfig.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/ConsumerStreamGrpcClient.java
  simulator/src/main/java/com/hedera/block/simulator/grpc/impl/ConsumerStreamGrpcClientImpl.java
  simulator/src/main/java/com/hedera/block/simulator/mode/impl/ConsumerModeHandler.java
  simulator/src/test/java/com/hedera/block/simulator/BlockStreamSimulatorTest.java
  simulator/src/test/java/com/hedera/block/simulator/config/SimulatorMappedConfigSourceInitializerTest.java
  simulator/src/test/java/com/hedera/block/simulator/grpc/impl/ConsumerStreamGrpcClientImplTest.java
  simulator/src/test/java/com/hedera/block/simulator/mode/ConsumerModeHandlerTest.java
Labels: Block Node, Alpha-0

#637 fix: ackHandler order responses under edge cases
  server/src/main/java/com/hedera/block/server/ack/AckHandlerImpl.java
  server/src/test/java/com/hedera/block/server/manager/AckHandlerImplTest.java
Labels: Bug, Block Node

#660 refactor: changed to batches of block items unparsed
  server/src/main/java/com/hedera/block/server/consumer/AsyncConsumerStreamResponseObserver.java
  server/src/main/java/com/hedera/block/server/consumer/ClosedRangeHistoricStreamEventHandlerBuilder.java
  server/src/main/java/com/hedera/block/server/consumer/ConsumerStreamResponseObserver.java
  server/src/main/java/com/hedera/block/server/consumer/Functions.java
  server/src/main/java/com/hedera/block/server/consumer/HistoricBlockStreamSupplier.java
  server/src/main/java/com/hedera/block/server/consumer/LiveStreamEventHandlerBuilder.java
  server/src/main/java/com/hedera/block/server/mediator/LiveStreamMediator.java
  server/src/main/java/com/hedera/block/server/mediator/LiveStreamMediatorBuilder.java
  server/src/main/java/com/hedera/block/server/mediator/LiveStreamMediatorImpl.java
  server/src/main/java/com/hedera/block/server/mediator/MediatorInjectionModule.java
  server/src/main/java/com/hedera/block/server/mediator/NoOpLiveStreamMediator.java
  server/src/main/java/com/hedera/block/server/pbj/PbjBlockStreamServiceProxy.java
  server/src/main/java/com/hedera/block/server/persistence/PersistenceInjectionModule.java
  server/src/main/java/com/hedera/block/server/persistence/StreamPersistenceHandlerImpl.java
  server/src/main/java/com/hedera/block/server/verification/StreamVerificationHandlerImpl.java
  server/src/test/java/com/hedera/block/server/BlockNodeAppTest.java
  server/src/test/java/com/hedera/block/server/consumer/ConsumerStreamResponseObserverTest.java
  server/src/test/java/com/hedera/block/server/consumer/HistoricBlockStreamSupplierTest.java
  server/src/test/java/com/hedera/block/server/mediator/LiveStreamMediatorImplTest.java
  server/src/test/java/com/hedera/block/server/mediator/MediatorInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/notifier/NotifierImplTest.java
  server/src/test/java/com/hedera/block/server/pbj/PbjBlockStreamServiceIntegrationTest.java
  server/src/test/java/com/hedera/block/server/persistence/PersistenceInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/persistence/StreamPersistenceHandlerImplTest.java
  server/src/test/java/com/hedera/block/server/verification/StreamVerificationHandlerImplTest.java
Labels: Feature Enhancement, Block Node, Alpha-0

#666 chore: upgrade to java 21.0.6+7
  .github/workflows/e2e-tests.yaml
  .github/workflows/pr-checks.yaml
  .github/workflows/release-automation.yaml
  .github/workflows/release-push-image.yaml
  .github/workflows/smoke-test.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
  .github/workflows/zxc-verify-gradle-build-determinism.yaml
  gradle/toolchain-versions.properties
  server/docker/Dockerfile
Labels: dependencies, java

#668 ci: Updated CODEOWNERS and self hosted runners for hiero-block-node
  .github/CODEOWNERS
  .github/workflows/e2e-tests.yaml
  .github/workflows/helm-charts.yaml
  .github/workflows/pr-checks.yaml
  .github/workflows/pr-formatting.yaml
  .github/workflows/release-automation.yaml
  .github/workflows/release-push-image.yaml
  .github/workflows/smoke-test.yaml
  .github/workflows/zxc-verify-docker-build-determinism.yaml
  .github/workflows/zxc-verify-gradle-build-determinism.yaml
Labels: github_actions

#670 feat: added block persistence error dashboards and error logging
  charts/hedera-block-node/dashboards/block-node-server.json
  server/docker/metrics/dashboards/block-node-server.json
  server/src/main/java/com/hedera/block/server/metrics/BlockNodeMetricTypes.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/AsyncBlockAsLocalFileWriter.java
Labels: Block Node, Alpha-0

#679 fix: fixed broken unit tests from new metric
  server/src/test/java/com/hedera/block/server/persistence/storage/write/AsyncBlockAsLocalFileWriterTest.java
Labels: Tests, Block Node

#656 chore: change the liverootpath and archiverootpath to absolute paths as default
  server/docker/Dockerfile
  server/docs/configuration.md
  server/src/main/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializer.java
  server/src/main/java/com/hedera/block/server/persistence/PersistenceInjectionModule.java
  server/src/main/java/com/hedera/block/server/persistence/storage/PersistenceStorageConfig.java
  server/src/main/java/com/hedera/block/server/persistence/storage/archive/BlockAsLocalFileArchiver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/BlockAsLocalFilePathResolver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/NoOpBlockPathResolver.java
  server/src/main/resources/app.properties
  server/src/test/java/com/hedera/block/server/config/ConfigInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializerTest.java
  server/src/test/java/com/hedera/block/server/config/TestConfigBuilder.java
  server/src/test/java/com/hedera/block/server/grpc/BlockAccessServiceTest.java
  server/src/test/java/com/hedera/block/server/manager/AckHandlerInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/pbj/PbjBlockStreamServiceIntegrationTest.java
  server/src/test/java/com/hedera/block/server/persistence/PersistenceInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/PersistenceStorageConfigTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/path/BlockAsLocalFilePathResolverTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/path/NoOpBlockPathResolverTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/read/BlockAsLocalFileReaderTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/remove/BlockAsLocalFileRemoverTest.java
  server/src/test/java/com/hedera/block/server/util/PersistTestUtils.java
Labels: Block Node

#671 feat: added design doc for open-range historic streaming blocks
  server/docs/design/historic-streaming/open-range-historic-streaming.md
Labels: Design, Block Node

#677 chore: Part 1 of Hiero migration for Helm Charts names and documents
  .github/workflows/helm-charts.yaml
  .github/workflows/release-push-image.yaml
  charts/block-node-server/.helmignore
  charts/block-node-server/Chart.yaml
  charts/block-node-server/README.md
  charts/block-node-server/dashboards/block-node-server.json
  charts/block-node-server/dashboards/kubernetes-views-pods.json
  charts/block-node-server/dashboards/node-exporter-full.json
  charts/block-node-server/templates/NOTES.txt
  charts/block-node-server/templates/_helpers.tpl
  charts/block-node-server/templates/configmap-logging.yaml
  charts/block-node-server/templates/configmap.yaml
  charts/block-node-server/templates/deployment.yaml
  charts/block-node-server/templates/grafana-dashboard-configmap.yaml
  charts/block-node-server/templates/grafana-datasource.yaml
  charts/block-node-server/templates/ingress.yaml
  charts/block-node-server/templates/secret.yaml
  charts/block-node-server/templates/service.yaml
  charts/block-node-server/templates/serviceaccount.yaml
  charts/block-node-server/templates/servicemonitor.yaml
  charts/block-node-server/values.yaml
  charts/blockstream-simulator/Chart.yaml
  charts/blockstream-simulator/README.md
  charts/blockstream-simulator/values.yaml
Labels: github_actions

#687 chore: Modify issue templates for new project
  .github/ISSUE_TEMPLATE/01-Story-Template.yml
  .github/ISSUE_TEMPLATE/02-Epic-Template.yml
Labels: pull request

#688 docs: Update README.md for Hiero
  README.md
Labels: Documentation

#682 feat: simulator generation mode improvements
  simulator/build.gradle.kts
  simulator/src/main/java/com/hedera/block/simulator/config/SimulatorMappedConfigSourceInitializer.java
  simulator/src/main/java/com/hedera/block/simulator/config/data/BlockGeneratorConfig.java
  simulator/src/main/java/com/hedera/block/simulator/config/types/GenerationMode.java
  simulator/src/main/java/com/hedera/block/simulator/generator/CraftBlockStreamManager.java
  simulator/src/main/java/com/hedera/block/simulator/generator/GeneratorInjectionModule.java
  simulator/src/main/java/com/hedera/block/simulator/generator/itemhandler/AbstractBlockItemHandler.java
  simulator/src/main/java/com/hedera/block/simulator/generator/itemhandler/BlockHeaderHandler.java
  simulator/src/main/java/com/hedera/block/simulator/generator/itemhandler/BlockProofHandler.java
  simulator/src/main/java/com/hedera/block/simulator/generator/itemhandler/EventHeaderHandler.java
  simulator/src/main/java/com/hedera/block/simulator/generator/itemhandler/EventTransactionHandler.java
  simulator/src/main/java/com/hedera/block/simulator/generator/itemhandler/ItemHandler.java
  simulator/src/main/java/com/hedera/block/simulator/generator/itemhandler/TransactionResultHandler.java
  simulator/src/main/java/module-info.java
  simulator/src/test/java/com/hedera/block/simulator/config/SimulatorMappedConfigSourceInitializerTest.java
  simulator/src/test/java/com/hedera/block/simulator/config/data/BlockStreamConfigTest.java
  simulator/src/test/java/com/hedera/block/simulator/config/types/GenerationModeTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/BlockAsDirBlockStreamManagerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/CraftBlockStreamManagerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/GeneratorInjectionModuleTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/itemhandler/AbstractBlockItemHandlerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/itemhandler/BlockHeaderHandlerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/itemhandler/BlockProofHandlerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/itemhandler/EventHeaderHandlerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/itemhandler/EventTransactionHandlerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/itemhandler/TransactionResultHandlerTest.java
Labels: New Feature, Simulator

#699 chore(release): Bump versions for v0.6.0-SNAPSHOT
  charts/block-node-server/Chart.yaml
  charts/blockstream-simulator/Chart.yaml
  version.txt
Labels: Release

#708 chore: Cherry picks for `0.5.0-rc2`
  server/docker/logging.properties
  simulator/build.gradle.kts
  simulator/src/main/java/com/hedera/block/simulator/config/SimulatorMappedConfigSourceInitializer.java
  simulator/src/main/java/com/hedera/block/simulator/config/data/BlockGeneratorConfig.java
  simulator/src/main/java/com/hedera/block/simulator/config/types/GenerationMode.java
  simulator/src/main/java/com/hedera/block/simulator/generator/CraftBlockStreamManager.java
  simulator/src/main/java/com/hedera/block/simulator/generator/GeneratorInjectionModule.java
  simulator/src/main/java/com/hedera/block/simulator/generator/itemhandler/AbstractBlockItemHandler.java
  simulator/src/main/java/com/hedera/block/simulator/generator/itemhandler/BlockHeaderHandler.java
  simulator/src/main/java/com/hedera/block/simulator/generator/itemhandler/BlockProofHandler.java
  simulator/src/main/java/com/hedera/block/simulator/generator/itemhandler/EventHeaderHandler.java
  simulator/src/main/java/com/hedera/block/simulator/generator/itemhandler/EventTransactionHandler.java
  simulator/src/main/java/com/hedera/block/simulator/generator/itemhandler/ItemHandler.java
  simulator/src/main/java/com/hedera/block/simulator/generator/itemhandler/TransactionResultHandler.java
  simulator/src/main/java/module-info.java
  simulator/src/test/java/com/hedera/block/simulator/config/SimulatorMappedConfigSourceInitializerTest.java
  simulator/src/test/java/com/hedera/block/simulator/config/data/BlockStreamConfigTest.java
  simulator/src/test/java/com/hedera/block/simulator/config/types/GenerationModeTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/BlockAsDirBlockStreamManagerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/CraftBlockStreamManagerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/GeneratorInjectionModuleTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/itemhandler/AbstractBlockItemHandlerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/itemhandler/BlockHeaderHandlerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/itemhandler/BlockProofHandlerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/itemhandler/EventHeaderHandlerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/itemhandler/EventTransactionHandlerTest.java
  simulator/src/test/java/com/hedera/block/simulator/generator/itemhandler/TransactionResultHandlerTest.java
Labels: Release

#678 chore: Part 2 Hiero migration update docs
  charts/block-node-server/README.md
  charts/blockstream-simulator/README.md
  docs/overview.md
  server/README.md
  server/docs/configuration.md
  server/docs/design/block-persistence.md
  server/docs/design/live-streaming/bidi-producer-consumers-streaming.md
  server/docs/metrics.md
  simulator/README.md
Labels: github_actions

#692 fix: CodeCov fix
  .github/workflows/pr-checks.yaml
Labels: github_actions

#716 fix: changed the logging format and added tests
  server/docker/logging.properties
  server/src/test/java/com/hedera/block/server/StackTracesTest.java
Labels: Bug, Block Node

#659 feat: task based archiving
  common/src/main/java/com/hedera/block/common/utils/Preconditions.java
  common/src/test/java/com/hedera/block/common/utils/PreconditionsTest.java
  server/docker/logging.properties
  server/src/main/java/com/hedera/block/server/Constants.java
  server/src/main/java/com/hedera/block/server/ack/AckHandlerImpl.java
  server/src/main/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializer.java
  server/src/main/java/com/hedera/block/server/persistence/PersistenceInjectionModule.java
  server/src/main/java/com/hedera/block/server/persistence/StreamPersistenceHandlerImpl.java
  server/src/main/java/com/hedera/block/server/persistence/storage/PersistenceStorageConfig.java
  server/src/main/java/com/hedera/block/server/persistence/storage/archive/BlockArchiver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/archive/BlockArchivingException.java
  server/src/main/java/com/hedera/block/server/persistence/storage/archive/BlockAsLocalFileArchiver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/archive/LocalBlockArchiver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/archive/LocalGroupZipArchiveTask.java
  server/src/main/java/com/hedera/block/server/persistence/storage/archive/NoOpArchiver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/BlockAsLocalFilePathResolver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/BlockPathResolver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/NoOpBlockPathResolver.java
  server/src/main/resources/app.properties
  server/src/test/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializerTest.java
  server/src/test/java/com/hedera/block/server/config/logging/ConfigurationLoggingImplTest.java
  server/src/test/java/com/hedera/block/server/manager/AckHandlerInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/mediator/LiveStreamMediatorImplTest.java
  server/src/test/java/com/hedera/block/server/notifier/NotifierImplTest.java
  server/src/test/java/com/hedera/block/server/pbj/PbjBlockStreamServiceIntegrationTest.java
  server/src/test/java/com/hedera/block/server/persistence/PersistenceInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/persistence/StreamPersistenceHandlerImplTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/PersistenceStorageConfigTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/archive/BlockAsLocalFileArchiverTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/archive/LocalGroupZipArchiveTaskTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/path/BlockAsLocalFilePathResolverTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/path/NoOpBlockPathResolverTest.java
  server/src/test/java/com/hedera/block/server/util/PersistTestUtils.java
  server/src/test/resources/app.properties
Labels: Block Node

#720 fix: Exclude `suites` and `tools` from CodeCov Coverage report
  codecov.yml
Labels: github_actions
