Repository hiero-ledger/hiero-block-node, pull requests merged in 2025-06, with the labels that each got.

#1235 feat: Add Metrics for Block-Providers Files.Recent, Files.Historic, Server Status and Summary Full History Dashboard
  block-node/app/docker/metrics/dashboards/Hiero-Block-Node-Plugins/block-node-service.json
  block-node/app/docker/metrics/dashboards/Hiero-Block-Node-Plugins/block-provider-files-historic.json
  block-node/app/docker/metrics/dashboards/Hiero-Block-Node-Plugins/block-provider-files-recent.json
  block-node/app/docker/metrics/dashboards/Hiero-Block-Node-Plugins/stream-publisher.json
  block-node/app/docker/metrics/dashboards/block-node-server.json
  block-node/block-providers/files.historic/build.gradle.kts
  block-node/block-providers/files.historic/src/main/java/module-info.java
  block-node/block-providers/files.historic/src/main/java/org/hiero/block/node/blocks/files/historic/BlocksFilesHistoricPlugin.java
  block-node/block-providers/files.historic/src/main/java/org/hiero/block/node/blocks/files/historic/ZipBlockArchive.java
  block-node/block-providers/files.historic/src/test/java/org/hiero/block/node/blocks/files/historic/BlocksFilesHistoricPluginTest.java
  block-node/block-providers/files.recent/src/main/java/module-info.java
  block-node/block-providers/files.recent/src/main/java/org/hiero/block/node/blocks/files/recent/BlocksFilesRecentPlugin.java
  block-node/messaging/src/main/java/org/hiero/block/node/messaging/BlockMessagingFacilityImpl.java
  block-node/server-status/src/main/java/org/hiero/block/node/server/status/ServerStatusServicePlugin.java
  docs/block-node/metrics.md
Labels: Improvement, Block Node

#1252 chore(release): Bump versions for v0.13.0-SNAPSHOT
  charts/block-node-server/Chart.yaml
  charts/blockstream-simulator/Chart.yaml
  version.txt
Labels: Release

#1264 fix: #1259 fix protobuf spec to clarify that "infinite" is `uint64_max`.
  .github/ISSUE_TEMPLATE/03-Bug-Template.yml
  protobuf-sources/src/main/proto/block-node/api/block_stream_subscribe_service.proto
Labels: Protobuf

#1255 chore: cherry-pick metric PRs into 0.11 release branch
  block-node/app/docker/metrics/dashboards/Hiero-Block-Node-Plugins/app-core.json
  block-node/app/docker/metrics/dashboards/Hiero-Block-Node-Plugins/block-access-service.json
  block-node/app/docker/metrics/dashboards/Hiero-Block-Node-Plugins/block-node-service.json
  block-node/app/docker/metrics/dashboards/Hiero-Block-Node-Plugins/block-provider-files-historic.json
  block-node/app/docker/metrics/dashboards/Hiero-Block-Node-Plugins/block-provider-files-recent.json
  block-node/app/docker/metrics/dashboards/Hiero-Block-Node-Plugins/messaging-facility.json
  block-node/app/docker/metrics/dashboards/Hiero-Block-Node-Plugins/stream-publisher.json
  block-node/app/docker/metrics/dashboards/Hiero-Block-Node-Plugins/stream-subscriber.json
  block-node/app/docker/metrics/dashboards/Hiero-Block-Node-Plugins/verification.json
  block-node/app/docker/metrics/dashboards/block-node-server.json
  block-node/block-access/src/main/java/org/hiero/block/node/access/service/BlockAccessServicePlugin.java
  block-node/block-providers/files.historic/build.gradle.kts
  block-node/block-providers/files.historic/src/main/java/module-info.java
  block-node/block-providers/files.historic/src/main/java/org/hiero/block/node/blocks/files/historic/BlocksFilesHistoricPlugin.java
  block-node/block-providers/files.historic/src/main/java/org/hiero/block/node/blocks/files/historic/ZipBlockArchive.java
  block-node/block-providers/files.historic/src/test/java/org/hiero/block/node/blocks/files/historic/BlocksFilesHistoricPluginTest.java
  block-node/block-providers/files.recent/src/main/java/module-info.java
  block-node/block-providers/files.recent/src/main/java/org/hiero/block/node/blocks/files/recent/BlocksFilesRecentPlugin.java
  block-node/messaging/build.gradle.kts
  block-node/messaging/src/main/java/module-info.java
  block-node/messaging/src/main/java/org/hiero/block/node/messaging/BlockMessagingFacilityImpl.java
  block-node/messaging/src/test/java/org/hiero/block/server/messaging/TestConfig.java
  block-node/publisher/src/main/java/org/hiero/block/node/publisher/BlockStreamProducerSession.java
  block-node/publisher/src/main/java/org/hiero/block/node/publisher/PublisherServicePlugin.java
  block-node/publisher/src/test/java/org/hiero/block/node/publisher/BlockStreamProducerSessionTest.java
  block-node/server-status/src/main/java/org/hiero/block/node/server/status/ServerStatusServicePlugin.java
  block-node/stream-subscriber/src/main/java/org/hiero/block/node/stream/subscriber/SubscriberServicePlugin.java
  block-node/verification/src/main/java/org/hiero/block/node/verification/VerificationServicePlugin.java
  charts/.gitignore
  docs/block-node/metrics.md
Labels: Improvement

#1286 chore: Improving Test Plan Template
  docs/test-plan/template.md
Labels: Design, Improvement, pull request

#1272 chore: #1057 remove prefixes from block node API enumerations
  block-node/stream-subscriber/src/main/java/org/hiero/block/node/stream/subscriber/BlockStreamSubscriberSession.java
  block-node/stream-subscriber/src/main/java/org/hiero/block/node/stream/subscriber/SubscriberServicePlugin.java
  block-node/stream-subscriber/src/test/java/org/hiero/block/node/stream/subscriber/SubscriberTest.java
  protobuf-sources/src/main/proto/block-node/api/block_stream_subscribe_service.proto
  protobuf-sources/src/main/proto/block-node/api/proof_service.proto
  protobuf-sources/src/main/proto/block-node/api/state_service.proto
  tools-and-tests/simulator/src/test/java/org/hiero/block/simulator/grpc/impl/ConsumerStreamGrpcClientImplTest.java
  tools-and-tests/simulator/src/test/java/org/hiero/block/simulator/grpc/impl/ConsumerStreamObserverTest.java
  tools-and-tests/suites/src/main/java/org/hiero/block/suites/subscriber/negative/NegativeSingleSubscriberTests.java
Labels: Block Node

#1294 fix: typo in quickstart
  docs/block-node/quickstart.md
Labels: Block Node, Documentation

#1281 build: change publishing to use maven central publishing portal
  .github/workflows/release-push-image.yaml
  gradle/aggregation/build.gradle.kts
Labels: CI/CD

#1298 test: Final metrics improvements
  charts/block-node-server/dashboards/Hiero-Block-Node-Plugins/app-core.json
  charts/block-node-server/dashboards/Hiero-Block-Node-Plugins/block-access-service.json
  charts/block-node-server/dashboards/Hiero-Block-Node-Plugins/block-node-service.json
  charts/block-node-server/dashboards/Hiero-Block-Node-Plugins/block-provider-files-historic.json
  charts/block-node-server/dashboards/Hiero-Block-Node-Plugins/block-provider-files-recent.json
  charts/block-node-server/dashboards/Hiero-Block-Node-Plugins/messaging-facility.json
  charts/block-node-server/dashboards/Hiero-Block-Node-Plugins/stream-publisher.json
  charts/block-node-server/dashboards/Hiero-Block-Node-Plugins/stream-subscriber.json
  charts/block-node-server/dashboards/Hiero-Block-Node-Plugins/verification.json
  charts/block-node-server/dashboards/block-node-server.json
  codecov.yml
  docs/block-node/metrics.md
  docs/metrics.md
  tools-and-tests/suites/src/main/java/module-info.java
  tools-and-tests/suites/src/main/java/org/hiero/block/suites/metrics/MetricsAccessor.java
  tools-and-tests/suites/src/main/java/org/hiero/block/suites/metrics/MetricsCommonTests.java
  tools-and-tests/suites/src/main/java/org/hiero/block/suites/metrics/MetricsTestSuites.java
Labels: Improvement, Block Node

#1261 feat: add a "slow mode" feature to the simulator in consumer mode
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/config/SimulatorMappedConfigSourceInitializer.java
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/config/data/ConsumerConfig.java
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/config/types/SlowDownType.java
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/grpc/impl/ConsumerStreamGrpcClientImpl.java
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/grpc/impl/ConsumerStreamObserver.java
  tools-and-tests/simulator/src/test/java/org/hiero/block/simulator/config/SimulatorMappedConfigSourceInitializerTest.java
  tools-and-tests/simulator/src/test/java/org/hiero/block/simulator/config/logging/SimulatorConfigurationLoggerTest.java
  tools-and-tests/simulator/src/test/java/org/hiero/block/simulator/grpc/impl/ConsumerStreamGrpcClientImplTest.java
  tools-and-tests/simulator/src/test/java/org/hiero/block/simulator/grpc/impl/ConsumerStreamObserverTest.java
  tools-and-tests/suites/src/main/java/org/hiero/block/suites/subscriber/negative/NegativeSingleSubscriberTests.java
  tools-and-tests/suites/src/main/java/org/hiero/block/suites/subscriber/positive/PositiveSingleSubscriberTests.java
Labels: Improvement, Simulator

#1266 docs: Storage Retention Policy Design Documentation
  docs/design/persistence/block-node-retention-policy.md
Labels: pull request

#1318 chore(release): Bump versions for v0.14.0-SNAPSHOT
  charts/block-node-server/Chart.yaml
  charts/blockstream-simulator/Chart.yaml
  version.txt
Labels: Release, Block Node

#1324 feat: Simulator Add Publisher Support for EndOfStream Message
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/generator/BlockAsFileBlockStreamManager.java
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/generator/BlockAsFileLargeDataSets.java
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/generator/BlockStreamManager.java
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/generator/CraftBlockStreamManager.java
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/grpc/PublishStreamGrpcClient.java
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/grpc/impl/PublishStreamGrpcClientImpl.java
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/grpc/impl/PublishStreamObserver.java
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/mode/SimulatorModeInjectionModule.java
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/mode/impl/PublishClientManager.java
  tools-and-tests/simulator/src/main/java/org/hiero/block/simulator/mode/impl/PublisherClientModeHandler.java
  tools-and-tests/simulator/src/test/java/org/hiero/block/simulator/BlockStreamSimulatorTest.java
  tools-and-tests/simulator/src/test/java/org/hiero/block/simulator/grpc/impl/PublishStreamGrpcClientImplTest.java
  tools-and-tests/simulator/src/test/java/org/hiero/block/simulator/mode/PublishClientManagerTest.java
  tools-and-tests/simulator/src/test/java/org/hiero/block/simulator/mode/PublisherClientModeHandlerTest.java
Labels: Simulator

#1348 chore: Update gradle plugins to use 0.4.5
  settings.gradle.kts
Labels: dependencies
