Repository hiero-ledger/hiero-block-node, pull requests merged in 2025-01, with the labels that each got.

#449 feat: add compression mode support for BlockAsFileReader
  server/src/main/java/com/hedera/block/server/persistence/PersistenceInjectionModule.java
  server/src/main/java/com/hedera/block/server/persistence/storage/PersistenceStorageConfig.java
  server/src/main/java/com/hedera/block/server/persistence/storage/compression/Compression.java
  server/src/main/java/com/hedera/block/server/persistence/storage/compression/NoOpCompression.java
  server/src/main/java/com/hedera/block/server/persistence/storage/compression/ZstdCompression.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/BlockAsLocalDirPathResolver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/BlockAsLocalFilePathResolver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/BlockPathResolver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/NoOpBlockPathResolver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/read/BlockAsLocalFileReader.java
  server/src/main/java/com/hedera/block/server/persistence/storage/remove/BlockAsLocalDirRemover.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/BlockAsLocalDirWriter.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/BlockAsLocalFileWriter.java
  server/src/test/java/com/hedera/block/server/grpc/BlockAccessServiceTest.java
  server/src/test/java/com/hedera/block/server/pbj/PbjBlockStreamServiceIntegrationTest.java
  server/src/test/java/com/hedera/block/server/persistence/PersistenceInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/compression/NoOpCompressionTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/compression/ZstdCompressionTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/path/BlockAsLocalDirPathResolverTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/path/BlockAsLocalFilePathResolverTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/path/NoOpBlockPathResolverTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/read/BlockAsLocalDirReaderTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/read/BlockAsLocalFileReaderTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/remove/BlockAsLocalDirRemoverTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/write/BlockAsLocalDirWriterTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/write/BlockAsLocalFileWriterTest.java
Labels: Block Node

#439 feat: Add simulator image to publish artifacts CI
  .github/workflows/release-push-image.yaml
  server/docs/configuration.md
Labels: Simulator

#216 build: use common Hiero Gradle config
  .github/dependabot.yml
  .github/workflows/pr-checks.yaml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/src/main/kotlin/Utils.kt
  buildSrc/src/main/kotlin/com.hedera.block.aggregate-reports.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.common.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.conventions.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.jpms-modules.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.maven-publish.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.protobuf.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.protos.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.repositories.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.root.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.server.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.simulator.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.spotless-conventions.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.spotless-java-conventions.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.spotless-kotlin-conventions.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.suites.gradle.kts
  buildSrc/src/main/kotlin/com.hedera.block.tools.gradle.kts
  buildSrc/src/main/kotlin/com/hedera/block/tasks/GitClone.kt
  common/build.gradle.kts
  common/src/main/java/module-info.java
  gradle.properties
  gradle/aggregation/build.gradle.kts
  gradle/modules.properties
  gradle/toolchain-versions.properties
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  hiero-dependency-versions/build.gradle.kts
  server/build.gradle.kts
  server/src/main/java/module-info.java
  settings.gradle.kts
  simulator/build.gradle.kts
  simulator/src/main/java/module-info.java
  stream/build.gradle.kts
  stream/src/main/java/module-info.java
  suites/build.gradle.kts
  suites/src/main/java/module-info.java
  tools/build.gradle.kts
  version.txt
Labels: P3

#469 ci: fix extract version steps
  .github/workflows/release-push-image.yaml
Labels: P1

#446 refactor: Logs improvements
  charts/hedera-block-node/templates/configmap-logging.yaml
  charts/hedera-block-node/templates/deployment.yaml
  charts/hedera-block-node/values.yaml
  server/docker/Dockerfile
  server/docker/docker-compose.yml
  server/docker/logging.properties
  server/docker/update-env.sh
  server/src/main/java/com/hedera/block/server/Server.java
  server/src/main/java/module-info.java
Labels: Block Node

#435 feat: Add Loki to Dev Environment Stack
  server/docker/docker-compose.yml
  server/docker/loki-config.yaml
  server/docker/metrics/datasources/datasources.yml
  server/docker/promtail-config.yaml
Labels: Block Node

#436 feat: Add Loki to Helm chart deployment
  .github/workflows/helm-charts.yaml
  charts/hedera-block-node/Chart.yaml
  charts/hedera-block-node/README.md
  charts/hedera-block-node/templates/_helpers.tpl
  charts/hedera-block-node/templates/grafana-datasource.yaml
  charts/hedera-block-node/values.yaml
Labels: Block Node

#384 docs: Design document for Block Verification Process
  server/docs/design/block-verification.md
Labels: Design, Block Node, Documentation

#414 feat: Block Verification Feature
  charts/hedera-block-node/dashboards/block-node-server.json
  common/src/main/java/com/hedera/block/common/utils/MathUtilities.java
  common/src/main/java/com/hedera/block/common/utils/Preconditions.java
  common/src/test/java/com/hedera/block/common/CommonsTestUtility.java
  common/src/test/java/com/hedera/block/common/utils/MathUtilitiesTest.java
  common/src/test/java/com/hedera/block/common/utils/PreconditionsTest.java
  server/docker/metrics/dashboards/block-node-server.json
  server/docs/configuration.md
  server/src/main/java/com/hedera/block/server/BlockNodeAppInjectionComponent.java
  server/src/main/java/com/hedera/block/server/config/BlockNodeConfigExtension.java
  server/src/main/java/com/hedera/block/server/config/ConfigInjectionModule.java
  server/src/main/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializer.java
  server/src/main/java/com/hedera/block/server/metrics/BlockNodeMetricTypes.java
  server/src/main/java/com/hedera/block/server/notifier/NotifierImpl.java
  server/src/main/java/com/hedera/block/server/pbj/PbjBlockAccessServiceProxy.java
  server/src/main/java/com/hedera/block/server/pbj/PbjBlockStreamServiceProxy.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/LocalBlockWriter.java
  server/src/main/java/com/hedera/block/server/verification/BlockVerificationStatus.java
  server/src/main/java/com/hedera/block/server/verification/StreamVerificationHandlerImpl.java
  server/src/main/java/com/hedera/block/server/verification/VerificationConfig.java
  server/src/main/java/com/hedera/block/server/verification/VerificationInjectionModule.java
  server/src/main/java/com/hedera/block/server/verification/VerificationResult.java
  server/src/main/java/com/hedera/block/server/verification/hasher/ConcurrentStreamingTreeHasher.java
  server/src/main/java/com/hedera/block/server/verification/hasher/Hashes.java
  server/src/main/java/com/hedera/block/server/verification/hasher/HashingUtilities.java
  server/src/main/java/com/hedera/block/server/verification/hasher/NaiveStreamingTreeHasher.java
  server/src/main/java/com/hedera/block/server/verification/hasher/StreamingTreeHasher.java
  server/src/main/java/com/hedera/block/server/verification/service/BlockVerificationService.java
  server/src/main/java/com/hedera/block/server/verification/service/BlockVerificationServiceImpl.java
  server/src/main/java/com/hedera/block/server/verification/service/NoOpBlockVerificationService.java
  server/src/main/java/com/hedera/block/server/verification/session/BlockVerificationSession.java
  server/src/main/java/com/hedera/block/server/verification/session/BlockVerificationSessionAsync.java
  server/src/main/java/com/hedera/block/server/verification/session/BlockVerificationSessionBase.java
  server/src/main/java/com/hedera/block/server/verification/session/BlockVerificationSessionFactory.java
  server/src/main/java/com/hedera/block/server/verification/session/BlockVerificationSessionSync.java
  server/src/main/java/com/hedera/block/server/verification/session/BlockVerificationSessionType.java
  server/src/main/java/com/hedera/block/server/verification/signature/SignatureVerifier.java
  server/src/main/java/com/hedera/block/server/verification/signature/SignatureVerifierDummy.java
  server/src/main/java/module-info.java
  server/src/test/java/com/hedera/block/server/BlockNodeAppTest.java
  server/src/test/java/com/hedera/block/server/config/ConfigInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializerTest.java
  server/src/test/java/com/hedera/block/server/notifier/NotifierImplTest.java
  server/src/test/java/com/hedera/block/server/pbj/PbjBlockStreamServiceIntegrationTest.java
  server/src/test/java/com/hedera/block/server/verification/BlockVerificationServiceImplTest.java
  server/src/test/java/com/hedera/block/server/verification/StreamVerificationHandlerImplTest.java
  server/src/test/java/com/hedera/block/server/verification/VerificationInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/verification/hasher/ConcurrentStreamingTreeHasherTest.java
  server/src/test/java/com/hedera/block/server/verification/service/NoOpBlockVerificationServiceTest.java
  server/src/test/java/com/hedera/block/server/verification/session/BlockVerificationSessionAsyncTest.java
  server/src/test/java/com/hedera/block/server/verification/session/BlockVerificationSessionBaseTest.java
  server/src/test/java/com/hedera/block/server/verification/session/BlockVerificationSessionFactoryTest.java
  server/src/test/java/com/hedera/block/server/verification/session/BlockVerificationSessionSyncTest.java
  server/src/test/java/com/hedera/block/server/verification/signature/SignatureVerifierDummyTest.java
  server/src/test/resources/test-blocks/hashing-01.blk.gz
Labels: New Feature, Block Node

#425 feat: Deterministic Gradle build
  .github/workflows/e2e-tests.yaml
  .github/workflows/pr-checks.yaml
  .github/workflows/release-automation.yaml
  .github/workflows/release-push-image.yaml
  .github/workflows/smoke-test.yaml
  .github/workflows/support/scripts/generate-docker-artifact-baseline.sh
  .github/workflows/zxc-verify-docker-build-determinism.yaml
  .github/workflows/zxc-verify-gradle-build-determinism.yaml
  gradle/toolchain-versions.properties
  server/docker/Dockerfile
  server/docker/docker-build.sh
  server/docker/repro-sources-list.sh
Labels: Block Node

#498 fix: Fix Release Automation Workflow
  .github/workflows/release-automation.yaml
  build.gradle.kts
  server/build.gradle.kts
Labels: Bug

#495 fix: Fix Typo for publish of simulator helm chart
  .github/workflows/release-push-image.yaml
Labels: Bug, Simulator

#497 chore: Bump version of apps to 0.4.0-SNAPSHOT
  charts/blockstream-simulator/Chart.yaml
  charts/hedera-block-node/Chart.yaml
  version.txt
Labels: Release

#500 chore: Cherry pick 498 and Version Bump
  .github/workflows/release-automation.yaml
  .github/workflows/release-push-image.yaml
  build.gradle.kts
  charts/blockstream-simulator/Chart.yaml
  charts/hedera-block-node/Chart.yaml
  server/build.gradle.kts
  version.txt
Labels: Release

#504 fix: Stylefix release notes
  .github/workflows/release-automation.yaml
  release_notes.md
Labels: Release

#507 fix: Cherry pick release notes fix
  .github/release.yaml
  .github/workflows/release-automation.yaml
Labels: Improvement, Release

#506 fix: Fix Release by Fixing Release Notes due to failed spotless check on generated file release_notes.md
  .github/release.yaml
  .github/workflows/release-automation.yaml
Labels: Improvement, Release

#551 feat: added design doc template and short instructions
  server/docs/design/design-doc-template.md
  server/docs/design/how-to-design-doc.md
Labels: Design, Block Node

#518 feat: CN 2 BN protocol communications
  server/src/main/java/com/hedera/block/server/BlockNodeAppInjectionComponent.java
  server/src/main/java/com/hedera/block/server/ack/AckBlockStatus.java
  server/src/main/java/com/hedera/block/server/ack/AckHandler.java
  server/src/main/java/com/hedera/block/server/ack/AckHandlerImpl.java
  server/src/main/java/com/hedera/block/server/ack/AckHandlerInjectionModule.java
  server/src/main/java/com/hedera/block/server/block/BlockInfo.java
  server/src/main/java/com/hedera/block/server/notifier/Notifier.java
  server/src/main/java/com/hedera/block/server/notifier/NotifierImpl.java
  server/src/main/java/com/hedera/block/server/persistence/PersistenceInjectionModule.java
  server/src/main/java/com/hedera/block/server/persistence/StreamPersistenceHandlerImpl.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/BlockAsLocalDirWriter.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/BlockAsLocalFileWriter.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/BlockWriter.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/LocalBlockWriter.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/NoOpBlockWriter.java
  server/src/main/java/com/hedera/block/server/producer/Util.java
  server/src/main/java/com/hedera/block/server/verification/VerificationInjectionModule.java
  server/src/main/java/com/hedera/block/server/verification/service/BlockVerificationServiceImpl.java
  server/src/main/java/com/hedera/block/server/verification/signature/SignatureVerifierDummy.java
  server/src/main/java/module-info.java
  server/src/test/java/com/hedera/block/server/grpc/BlockAccessServiceTest.java
  server/src/test/java/com/hedera/block/server/manager/AckHandlerImplTest.java
  server/src/test/java/com/hedera/block/server/manager/AckHandlerInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/mediator/LiveStreamMediatorImplTest.java
  server/src/test/java/com/hedera/block/server/notifier/NotifierImplTest.java
  server/src/test/java/com/hedera/block/server/pbj/PbjBlockStreamServiceIntegrationTest.java
  server/src/test/java/com/hedera/block/server/persistence/PersistenceInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/persistence/StreamPersistenceHandlerImplTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/read/BlockAsLocalDirReaderTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/read/BlockAsLocalFileReaderTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/remove/BlockAsLocalDirRemoverTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/write/BlockAsLocalDirWriterTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/write/BlockAsLocalFileWriterTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/write/NoOpBlockWriterTest.java
  server/src/test/java/com/hedera/block/server/util/PbjProtoTestUtils.java
  server/src/test/java/com/hedera/block/server/verification/BlockVerificationServiceImplTest.java
  server/src/test/java/com/hedera/block/server/verification/VerificationInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/verification/signature/SignatureVerifierDummyTest.java
  suites/src/main/java/com/hedera/block/suites/grpc/positive/PositiveEndpointBehaviourTests.java
Labels: New Feature, Block Node

#485 feat: add block archiving support
  common/src/main/java/com/hedera/block/common/utils/MathUtilities.java
  common/src/main/java/com/hedera/block/common/utils/Preconditions.java
  common/src/test/java/com/hedera/block/common/CommonsTestUtility.java
  common/src/test/java/com/hedera/block/common/utils/MathUtilitiesTest.java
  common/src/test/java/com/hedera/block/common/utils/PreconditionsTest.java
  server/src/main/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializer.java
  server/src/main/java/com/hedera/block/server/persistence/PersistenceInjectionModule.java
  server/src/main/java/com/hedera/block/server/persistence/storage/PersistenceStorageConfig.java
  server/src/main/java/com/hedera/block/server/persistence/storage/archive/BlockArchiver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/archive/BlockAsLocalFileArchiver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/archive/LocalBlockArchiver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/archive/NoOpArchiver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/compression/Compression.java
  server/src/main/java/com/hedera/block/server/persistence/storage/compression/CompressionBase.java
  server/src/main/java/com/hedera/block/server/persistence/storage/compression/NoOpCompression.java
  server/src/main/java/com/hedera/block/server/persistence/storage/compression/ZstdCompression.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/ArchiveBlockPath.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/BlockAsLocalDirPathResolver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/BlockAsLocalFilePathResolver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/BlockPathResolver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/LiveBlockPath.java
  server/src/main/java/com/hedera/block/server/persistence/storage/path/NoOpBlockPathResolver.java
  server/src/main/java/com/hedera/block/server/persistence/storage/read/BlockAsLocalFileReader.java
  server/src/main/java/com/hedera/block/server/persistence/storage/write/BlockAsLocalFileWriter.java
  server/src/main/java/module-info.java
  server/src/main/resources/app.properties
  server/src/test/java/com/hedera/block/server/config/ServerMappedConfigSourceInitializerTest.java
  server/src/test/java/com/hedera/block/server/config/logging/ConfigurationLoggingImplTest.java
  server/src/test/java/com/hedera/block/server/manager/AckHandlerInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/persistence/PersistenceInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/PersistenceStorageConfigTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/compression/NoOpCompressionTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/compression/ZstdCompressionTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/path/BlockAsLocalDirPathResolverTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/path/BlockAsLocalFilePathResolverTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/path/NoOpBlockPathResolverTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/read/BlockAsLocalFileReaderTest.java
  server/src/test/java/com/hedera/block/server/persistence/storage/write/BlockAsLocalFileWriterTest.java
Labels: New Feature, Block Node

#558 feat: CN2BN Protocol Communication Part 2
  server/src/main/java/com/hedera/block/server/ack/AckHandlerImpl.java
  server/src/main/java/com/hedera/block/server/ack/AckHandlerInjectionModule.java
  server/src/main/java/com/hedera/block/server/notifier/NotifierImpl.java
  server/src/main/java/com/hedera/block/server/producer/ProducerBlockItemObserver.java
  server/src/main/java/com/hedera/block/server/service/ServiceStatus.java
  server/src/main/java/com/hedera/block/server/service/ServiceStatusImpl.java
  server/src/main/java/module-info.java
  server/src/test/java/com/hedera/block/server/manager/AckHandlerImplTest.java
  server/src/test/java/com/hedera/block/server/manager/AckHandlerInjectionModuleTest.java
  server/src/test/java/com/hedera/block/server/pbj/PbjBlockStreamServiceIntegrationTest.java
  server/src/test/java/com/hedera/block/server/producer/ProducerBlockItemObserverTest.java
  suites/src/main/java/com/hedera/block/suites/persistence/positive/PositiveDataPersistenceTests.java
Labels: New Feature, Block Node

#561 fix: added an Acceptance Test section to the template
  server/docs/design/design-doc-template.md
Labels: Improvement, Block Node

#557 feat: added consumer test tools
  server/src/test/resources/batch-consumers.sh
  server/src/test/resources/remove-simulator-consumers.sh
  server/src/test/resources/start-simulator-consumers.sh
  simulator/src/main/java/com/hedera/block/simulator/grpc/impl/ConsumerStreamObserver.java
Labels: Simulator, Phase 2, Block Node Tools
